{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/\ bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81i\ uXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    {% block links %}{% endblock %}
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo"><a href="{% url 'home' %}">Blog application</a></div>
      <div class="nav-items">
        {% if user.is_authenticated %}
        <div class="nav-item nav-link">
          <a href="{% url 'posts' %}">Posts</a>
        </div>
        <div class="nav-item nav-link">
          <a href="{% url 'create_post' %}">Create post</a>
        </div>
        <div class="nav-item nav-btn">
          <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="nav-item nav-btn">
          <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="nav-item nav-btn">
          <a href="{% url 'signup' %}">Signup</a>
        </div>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\ YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/\ 1.14.3/
umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbB\ JiSnjAK/
l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/\ js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ\ 6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
