{% extends 'base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock %} {% block content %}
<div class="wrapper">
  <div class="upper-panel">
    <h1>{{ object.heading }}</h1>
    <div class="upper-panel-buttons">
      <a class="delete" href="{% url 'delete' object.pk %}">delete</a>
      <a class="update" href="{% url 'update' object.pk %}">update </a>
    </div>
  </div>
  <p class="text">{{ object.text }}</p>
  <h4 class="created">Created at: {{object.created}}</h4>
</div>
<div class="wrapper comments">
  <h1 style="margin-bottom: 20px">Comments</h1>
  {% for comment in object.comments.all %}
  <div style="display: flex" class="comment">
    <div style="opacity: 0.6" class="comment-author">{{ comment.author }}</div>
    <span style="margin: 0 10px">|</span>
    <div class="comment-text">{{ comment.comment }}</div>
  </div>
  {% endfor %}
</div>

{% endblock %}
